In [35]:
import pandas as pd

In [37]:
file_path=r"C:\Users\sanke\Downloads\Navaantrix.csv"

In [39]:

    df = pd.read_csv(file_path)
    print("Dataset loaded successfully!")


# Display first 5 rows
print(df.head())

Dataset loaded successfully!
        Date Product     Category  Region  Sales  Quantity  Profit
0  8/10/2025  Laptop  Electronics  Mumbai  58400         1    5000

In [41]:
# Insert
new_record = pd.DataFrame([{
    'Date': '2025-09-12',
    'Product': 'Laptop',
    'Category': 'Electronics',
    'Region': 'Pune',
    'Sales': 50000,
    'Quantity': 2,
    'Profit': 10000
}])

# Concatenate 
df = pd.concat([df, new_record], ignore_index=True)

print("\nRecord added successfully!\n")
print(df.tail())

Record added successfully!

         Date Product     Category  Region  Sales  Quantity  Profit
0   8/10/2025  Laptop  Electronics  Mumbai  58400         1    5000
1  2025-09-12  Laptop  Electronics    Pune  50000         2   10000

In [43]:
# Read 
pune_sales = df[df['Region'] == 'Pune']
 pune_sales

Sales in Pune:
          Date Product     Category Region  Sales  Quantity  Profit
1  2025-09-12  Laptop  Electronics   Pune  50000         2   10000

In [49]:
# Update
df.loc[(df['Product'] == 'Laptop') & (df['Region'] == 'Pune'), 'Sales'] = 55000
df[df['Product'] == 'Laptop']

         Date Product     Category  Region  Sales  Quantity  Profit
0   8/10/2025  Laptop  Electronics  Mumbai  58400         1    5000
1  2025-09-12  Laptop  Electronics    Pune  55000         2   10000

In [ ]:
# Delete
# Example: Delete all records where Quantity is 2
df = df[df['Quantity'] != 2]
print("\nRecords after deleting Quantity = 2:\n",df)

# ------------------- Save Changes Back to CSV -------------------
df.to_csv(file_path, index=False)
print("\nChanges saved to CSV successfully!")